* {
  font-family: sans-serif;
    margin:0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.hotkeys > a {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 21px;
color: #29CCAF;
text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 50vw;
  height: 80px;
}
.logo img {
  height: 50px;
}
.logo h2 {
  color:#F2F2F2;
}
.hotkeys {
  display: flex;
  align-items: center;
  gap: 20px;

}
.block_1_img {
    background-image: url("../pictures/main_background.png");
   width:100%;
   height: 70%;
   padding: 300px 100px;
   background-repeat: no-repeat;
   background-size: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
   gap: 40px;
  }

#button:hover {
  filter: opacity(100%);
}

#button {
width: 358px;
height: 56px;
background: #29CCAF;
color: #FFFFFF;
border-radius: 5px;
font-size:18px;
border: none;
transition: .2s;
filter: opacity(90%);
cursor: pointer;
}

.card_1 {
  transition: 0.7s; 
}
.card_1:hover {
  transform: scale(1.05);
}
.card_2 {
  transition: 0.7s; 
}
.card_2:hover {
  transform: scale(1.05);
}
.card_3 {
  transition: 0.7s; 
}
.card_3:hover {
  transform: scale(1.05);
}
.card_4 {
  transition: 0.7s; 
}
.card_4:hover {
  transform: scale(1.05);
}
.card_5 {
  transition: 0.7s; 
}
.card_5:hover {
  transform: scale(1.05);
}
.card_6 {
  transition: 0.7s; 
}
.card_6:hover {
  transform: scale(1.05);
}
.card_7 {
  transition: 0.7s; 
}
.card_7:hover {
  transform: scale(1.05);
}
.card_8 {
  transition: 0.7s; 
}
.card_8:hover {
  transform: scale(1.05);
}
  .img_title {
font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 52px;
color: #FFFFFF;
width: 800px;
height: 90px;
  }
  .img-subtitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
  }
  .logo  {
    gap:11px;
    padding-left: 42px;
    display: flex;
    align-items: center;
  }

.block_1 > h1 {
  color:#FFFFFF;
  font-size: 52px;
}

.block_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.block_2 h1 {
  color:#FFFFFF;
  font-size: 52px;
}

.card {
  color: white;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 100px;
}

.card h1 {
  font-size: 52px;
}

.card b {
  font-size: 20px;
  opacity: 0.3;
}

.block_2 > .card1 > h1 {
  font-size:52px;
  color:#FFF;
  font-weight: bold;
  font-family: "Montserrat";
}
.block_2 > .card2 > h1 {
  font-size:52px;
  color:#FFF;
  font-weight: bold;
  font-family: "Montserrat";
}
.block_2 > .card3 > h1 {
  font-size:52px;
  color:#FFF;
  font-weight: bold;
  font-family: "Montserrat";
}
.block_2 > .card4 > h1 {
  font-size:52px;
  color:#FFF;
  font-weight: bold;
  font-family: "Montserrat";
}
.block_2 > .card1 > b {
  font-size:20px;
  color:#777070;
  font-weight: bold;
  font-family: "Montserrat";
}
.block_2 > .card2 > b {
  font-size:20px;
  color:#777070;
  font-weight: bold;
  font-family: "Montserrat";
}
.block_2 > .card3 > b {
  font-size:20px;
  color:#777070;
  font-weight: bold;
  font-family: "Montserrat";

}
.block_2 > .card4 > b {
  font-size: 20px;
  color:#777070;
  font-family: "Montserrat";
  font-weight: bold;
}
.block_2 > .card1 {
  text-align: center;
}
.block_2 > .card2 {
  text-align: center;
}
.block_2 > .card3 {
  text-align: center;
}
.block_2 > .card4 {
  text-align: center;
}
.block_3 {
  width: 1920px;
  height: 795px;

}

.container_slider_css { 
  display: flex;
  flex-direction: column;
margin-top: 5%;
  
}
.photo_slider_css {
  position: absolute;
  animation:round 10s infinite;
  opacity:0;
  width:100% 
}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:0s}
img:nth-child(2){animation-delay:3s}
img:nth-child(3){animation-delay:6s}
@media(min-width:1920px) and (max-width:1920px) {
.container_slider_css{width:80%;height:1920px}
}
@media(min-width:1920px) and (max-width:1920px) {
.container_slider_css{width:80%;height:1920px}
}

.block_3 > h1{
position: absolute;
width: 761px;
height: 132px;
left: 168px;
top: 1198px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 152.34%;
color:#fff;
}
.block_4 > h1{
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 152.34%;
color:#fff;
}

.border {
border:3px solid black;
background: #1E1E1E;
border-radius: 30px;
width: 1250px;
height: 500px;
margin-left:auto;
margin-right:auto;
display: flex;  
align-items: left;
flex-direction: column;  
padding-left: 80px;
padding-top: 60px;
}
.border > h3 {
color:#FFF;

}

.buttonBorder:hover {
  background-color: #29CCAF;
  border: none;
  color: #090909;
}

.buttonBorder {
background: none;
border: 2px solid white;
border-radius: 5px;
color: white;
transition: .3s;
width: 300px;
height: 60px;
font-size: 20px;
}


.border > h3 {
  color: #FFF;
  transition: 0.3s;
  width: 200px;
}
.border > h3:hover {
  color: #29CCAF; 
}
.block_4 {
margin-top: 5%;
margin-bottom: -10%;

}
.block_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 600px;
  height: min-content;
  gap:50px
}

.block_5 > section { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:100px
}

.block_5 > h1 {
  display: flex;
  width: 1329px;
  gap: 20px;
  justify-content: center;
  margin-bottom: 15%;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 152.34%;
}
.card_1 {
width: 700px;
height: 500px;
border-radius: 40px;
background: url(../pictures/card_1.png);
}
.card_1 >b {
color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 417px;
padding-left: 26px;
    
}
.card_2 {
  width: 700px;
  height: 500px;
  background: url(../pictures/card_2.png);
  
}
.card_2 >b {
  color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 417px;
padding-left: 26px;
}

.card_3 {
  width: 700px;
  height: 500px;
  background: url(../pictures/card_3.png);
}
.card_3 >b {
  color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 417px;
padding-left: 26px;
}
.card_4 {
  width: 700px;
  height: 500px;
  background: url(../pictures/card_4.png);
}
.card_4 >b {
  color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 375px;
padding-left: 24px;
}
.card_5 {
  width: 700px;
height: 500px;
  background: url(../pictures/card_5.png);
}
.card_5 >b {
  color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 375px;
padding-left: 24px;
}
.card_6 {
  width: 700px;
  height: 500px;
  background: url(../pictures/card_6.png);
}
.card_6 >b {
  color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 375px;
padding-left: 24px;
}
.card_7 {

  width: 700px;
  height: 500px;
  background: url(../pictures/card_7.png);
}
.card_7 >b {
  color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 375px;
padding-left: 24px;
}
.card_8 {
  width: 700px;
  height: 500px;
  background: url(../pictures/card_8.png);
}


.cardd > button {
color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 152.34%;
display: flex;
padding-top: 375px;
padding-left: 24px;
border:none;
cursor: pointer;
}
.cardd > button:active {
  border:none;
}
.cardd > button:focus {
  border: none;
}
.text-end {
display: flex;
align-items: center;

font-family: 'Montserrat';
font-weight: 800;
font-size: 36px;
line-height: 152.34%;
color: #2CEDCA;
width: 1100px;
margin-top: 100px;
margin-bottom: 100px;
}
.discount_card {
  transition: 0.7s; 
 display: flex;
 flex-direction: center;
 justify-content: center;
 width: 700px;
  
  background: url(../pictures/aboniment_card.png);
  border-radius: 27px;
  background-repeat: no-repeat;
}

.discount_card:hover {
  transform: scale(1.2);
}
.video {
display: flex;
width: 1430px;
height: 687px;
left: 245px;
margin-top: 100px;
}
.block_6{
display: flex;
margin-bottom: 500px;
}


.mini_card1 {
  display: flex;
  width: 124px;
  height: 124px;
  left: 262px;
  top: 6900px;
  
  background: url(../pictures/mini_card1.png);
}
.mini_card1 > p {
display:flex;
margin-top: 150px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
color: #359785;
}
.mini_card2 {
  display: flex;
width: 124px;
height: 124px;
left: 824px;
top: 6900px;

background: url(../pictures/mini_card2.png);
}
.mini_card2 > p {
  display:flex;
  margin-top: 150px;
  width: 136px;
  height: 57px;
  left: 160px;
  top: 0px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #359785;
  }
.mini_card3 {
  display: flex;
width: 124px;
height: 124px;
left: 1386px;
top: 6900px;

background: url(../pictures/mini_card3.png)
}
.mini_card3 > p {
  display:flex;
  margin-top: 150px;
  width: 136px;
  height: 57px;
  left: 160px;
  top: 0px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #359785;
}
.mini_card4 {
  display: flex;
width: 124px;
height: 124px;
left: 262px;
top: 7100px;

background: url(../pictures/mini_card4.png);
}
.mini_card4 > p {
  display:flex;
  margin-top: 150px;
  width: 136px;
  height: 57px;
  left: 160px;
  top: 0px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #359785;
}
.mini_card5 {
  display: flex;
width: 124px;
height: 124px;
left: 824px;
top: 7100px;

background: url(../pictures/mini_card5.png);
}
.mini_card5 > p {
  display:flex;
  margin-top: 150px;
  width: 136px;
  height: 57px;
  left: 160px;
  top: 0px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #359785;
}
.mini_card6 {
  display: flex;
width: 124px;
height: 124px;
left: 1386px;
top: 7100px;

background: url(../pictures/mini_card6.png);
}
.mini_card6 > p {
  display:flex;
  margin-top: 150px;
  width: 136px;
  height: 57px;
  left: 160px;
  top: 0px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #359785;
}

.foot > p {
  margin-top: 150px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

footer {
  background: black;

  text-align: center;
  display: flex;
  align-items:start;
  gap:250px;
}
.foot{
  padding: 40px;
  padding-left: 100px;
 
}
.politika {
  display: flex;
  flex-flow: column wrap;
  gap:14px;
  text-align: left;
}
.politika > a {
  color:#F2F2F2;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
.politika > p {
  color:#F2F2F2;
  font-size: 24px;
}

.contakty {
  display: flex;
  flex-flow: column wrap;
  gap:14px;
  text-align: left;
}
.contakty > a {
  color:#F2F2F2;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
.contakty > p {
  color:#F2F2F2;
  font-size: 24px;
}
.socialnye_seti {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap:14px;
  text-align: left;
}
.socialnye_seti > p {
  color:#F2F2F2;
  font-size: 24px;
}
.socialnye_seti >.fotki {
  
  display: flex;
  justify-content: space-around;
  gap:5px;
  text-align: left;
  
}  
.fotki{
  display: flex;
  align-items: center;
  gap: 350px;
  
}
.socialnye_seti > .fotki  > img {
  width:45px; 
  height:45px;
  gap: 34px;
}
.podpiska > b {
  color:#9A9A9A;
  font-size: 12px;
  font-weight: normal;

}
.podpiska > p {
  color:#F2F2F2;
  font-size: 24px;
}
.podpiska {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap:14px;
  text-align: left;
}
.background_Les_Mills {
  background: url(../pictures/Les_Mills.png);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
 
.modalBody {
  font-size: 60px;
  
}
.background_cardio {
  background: url(../pictures/Cardio.png);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_streight {
  background: url(../pictures/background_streight.webp);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_functional {
  background: url(../pictures/background_functional.jpeg);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_acua {
  background: url(../pictures/background_acuva.jpg);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_bodymind {
  background: url(../pictures/background_bodymind.jpg);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_dance {
  background: url(../pictures/background_dance.jpg);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_box {
  background: url(../pictures/background_box.jpg);
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
  input,
  textarea {
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #312f2f;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }
  
  .left-side {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    background: #afafb6;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .right-side {
    width: 75%;
    margin-left: 75px;
  }
  
  .details {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .details i {
    font-size: 25px;
    color: #26d1d1;
    margin-bottom: 10px;
  }
  
  .topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
  }
  
  .text-one,
  .text-two {
    font-size: 14px;
    color: #afafb6;
  }
  
  .topic-text {
    font-size: 45px;
    font-weight: 600;
    color: #29CCAF;
    margin-bottom: 10px;
  }
  
  .right-side p {
    margin-bottom: 20px;
  }
  
  .input-box {
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .input-box input,
.input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #f0f1f8;
    padding: 0 20px;
    margin-bottom: 2px;
  }
  
  .input-box label {
    font-size: 14px;
    color: #afafb6;
    padding-left: 5px;
  }
  
  .input-box textarea {
    resize: none;
    padding: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .message-box {
    min-height: 110px;
  }
  
  .button2 {
    display: inline-block;
  }
  
  .button2 input[type="submit"] {
    color: #fff;
    font-size: 18px;
    background: #0accc2;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
  }
  
  .button2 input[type="submit"]:hover {
    background: rgb(2, 245, 212);
  }
  
  @media (max-width: 800px) {
    .content {
      height: 100%;
      flex-direction: column-reverse;
    }
    .left-side {
      margin-top: 50px;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }
    .details {
      margin-right: 20px;
    }
    .details:last-child {
      margin-right: 0;
    }
    .left-side::before {
      display: none;
    }
    .right-side {
      width: 100%;
      margin-left: 0;
    }
  }
.modalWindow { 
  display: none;
  position: fixed;
  z-index: 5;
}
.position_modal { 
  display: flex;
  align-items: center;
  justify-content: center;
}
.block1_modal { 
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.block1_text { 
  display: flex;
}
#btnModalWindow { 
color: red;
background: none;
border:none;
font-size: 32px;
cursor: pointer;
}

.towns > h2 { 
  color: #FFFFFF;
  margin-bottom: 75px;
  margin-left: 50px;
  margin-top: 30px;
cursor: pointer;
  
}
.create-line {
  margin-left: 500px;
  width: 500px;
  border-bottom: 3px solid #ffffff;
  
 
  
}